/*
 * @Author: Quarter
 * @Date: 2022-07-07 09:46:15
 * @LastEditors: Quarter
 * @LastEditTime: 2022-12-14 19:00:40
 * @FilePath: /simple-ui/packages/styles/global.scss
 * @Description: 全局样式
 */

body {
  color: var(--s-text-primary);
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
  margin: 0;
}

button,
input,
select,
textarea {
  outline-width: 0;
  outline-color: transparent;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
}


input:-internal-autofill-selected,
input:-webkit-autofill {
  color: var(--s-text-primary) !important;
  background-color: var(--s-background-primary) !important;
  transition: color 99999999999999999999999999999999s ease-in-out 0s,
    background-color 99999999999999999999999999999999s ease-in-out 0s;
}