:root {
  font-size: 10px;
  // 主题色
  --s-brand-light: var(--s-blue-50);
  --s-brand-focus: var(--s-blue-100);
  --s-brand-disabled: var(--s-blue-200);
  --s-brand-hover: var(--s-blue-600);
  --s-brand-normal: var(--s-blue-700);
  --s-brand-click: var(--s-blue-800);
  // 安全色
  --s-success-light: var(--s-green-50);
  --s-success-focus: var(--s-green-100);
  --s-success-disabled: var(--s-green-200);
  --s-success-hover: var(--s-green-300);
  --s-success-normal: var(--s-green-400);
  --s-success-click: var(--s-green-500);
  // 警告色
  --s-warning-light: var(--s-orange-50);
  --s-warning-focus: var(--s-orange-100);
  --s-warning-disabled: var(--s-orange-200);
  --s-warning-hover: var(--s-orange-300);
  --s-warning-normal: var(--s-orange-400);
  --s-warning-click: var(--s-orange-500);
  // 危险色
  --s-danger-light: var(--s-red-50);
  --s-danger-focus: var(--s-red-100);
  --s-danger-disabled: var(--s-red-200);
  --s-danger-hover: var(--s-red-400);
  --s-danger-normal: var(--s-red-500);
  --s-danger-click: var(--s-red-600);
  // 文本色
  --s-text-primary: var(--s-font-gray-400);
  --s-text-secondary: var(--s-font-gray-300);
  --s-text-placeholder: var(--s-font-gray-200);
  --s-text-disabled: var(--s-font-gray-100);
  --s-text-white: var(--s-font-white-400);
  --s-text-black: var(--s-font-gray-400);
  // 边框色
  --s-border-color: var(--s-blue-gray-300);
  // 背景色
  --s-background-primary: var(--s-gray-0);
  --s-background-secondary: var(--s-gray-100);
  --s-background-disabled: var(--s-gray-300);
  // 圆角
  --s-border-radius: 3px;
  // 间距
  --s-spacing-4: 0.4rem;
  --s-spacing-8: 0.8rem;
  --s-spacing-12: 1.2rem;
  --s-spacing-16: 1.6rem;
  --s-spacing-24: 2.4rem;
  --s-spacing-32: 3.2rem;
  --s-spacing-48: 4.8rem;
  --s-spacing-64: 6.4rem;
  --s-spacing-96: 9.6rem;
  --s-spacing-160: 16rem;
  // 阴影
  --s-shadow-1: 0 1px 10px rgba(0, 0, 0, 5%), 0 4px 5px rgba(0, 0, 0, 8%),
    0 2px 4px -1px rgba(0, 0, 0, 12%);
  --s-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 5%), 0 8px 10px 1px rgba(0, 0, 0, 6%),
    0 5px 5px -3px rgba(0, 0, 0, 10%);
  --s-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 5%), 0 16px 24px 2px rgba(0, 0, 0, 4%),
    0 8px 10px -5px rgba(0, 0, 0, 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    // 文本色
    --s-text-primary: var(--s-font-white-400);
    --s-text-secondary: var(--s-font-white-300);
    --s-text-placeholder: var(--s-font-white-200);
    --s-text-disabled: var(--s-font-white-100);
    // 边框色
    --s-border-color: var(--s-gray-1100);
    // 背景色
    --s-background-primary: var(--s-gray-1300);
    --s-background-secondary: var(--s-gray-1200);
    --s-background-disabled: var(--s-gray-1100);
  }
}