/*
 * @Author: Quarter
 * @Date: 2022-07-07 14:18:56
 * @LastEditors: Quarter
 * @LastEditTime: 2022-08-01 14:39:55
 * @FilePath: /simple-ui/packages/styles/style.scss
 * @Description: 全局类定义
 */

// 文字
.s-text-1 {
  font-size: 3.6rem;
  line-height: 4.4rem;
}

.s-text-2 {
  font-size: 2rem;
  line-height: 2.8rem;
}

.s-text-3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.s-text-4 {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.s-text-5 {
  font-size: 1.2rem;
  line-height: 2rem;
}
