/*
 * @Author: Quarter
 * @Date: 2022-07-07 14:18:56
 * @LastEditors: Quarter
 * @LastEditTime: 2022-07-08 09:29:50
 * @FilePath: /simple-ui/packages/styles/style.scss
 * @Description: 全局类定义
 */

// 文字
.s-text-1 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.s-text-2 {
  font-size: 1rem;
  line-height: 1.4rem;
}

.s-text-3 {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.s-text-4 {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.s-text-5 {
  font-size: 0.6rem;
  line-height: 1rem;
}